{{< layout-home }}

{{$ title }}Home{{/ title }}

{{$ content }}
<div class="row">
    <div class="col-md-4">
        <h2>Easy path to Social</h2>
        <p>Quickly create an online community and help them connect and share faster with Graph Story. <a href="http://graphstory.com/pnbook?r=social&lng=php" target="_blank">Create a scalable, secure, social app in minutes!</a></p>
    </div>
    <div class="col-md-4">
        <h2>Most Interesting</h2>
        <p><a href="http://graphstory.com/pnbook?r=interest&lng=php" target="_blank">Build special connections</a> within your communities by helping them manage their interests.</p>
    </div>
    <div class="col-md-4">
        <h2>Content is King</h2>
        <p>What your customers read can tell you what to write - and what not to write.  <a href="http://graphstory.com/pnbook?r=consumption&lng=php" target="_blank">Match your customers words</a> with your own.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Maps are a graph!</h2>
        <p>Graph Story is a next generation platform for apps that manage location information. <a href="http://graphstory.com/pnbook?r=location&lng=php" target="_blank">Keep location simple</a> and let us do the work.</p>
    </div>
    <div class="col-md-4">
        <h2>Recommendations</h2>
        <p>Relevant recommendations create sales! Graph Story will <a href="http://graphstory.com/pnbook?r=reco&lng=php" target="_blank">help your customers</a> understand and manage their recommendations to get more relevant results.</p>
    </div>
    <div class="col-md-4">
        <h2>Win at Starting</h2>
        <p><a href="http://graphmystartup.com/pnbook?r=start&lng=php"  target="_blank">GraphMyStartup</a> helps your team see all the parts of your startup, keeps everything in one place, moving forward and staying strong.</p>
    </div>
</div>
{{/ content }}

{{/ layout-home }}
