<phpunit bootstrap="tests/bootstrap.php"
         backupGlobals="false">
    <testsuites>
        <testsuite name="Graph Kit Unit Testing Suite">
            <directory suffix="Test.php">tests/Unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory>./vendor</directory>
                <directory>./tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>