{{< layout-home }}

{{$ title }}500 - Internal Server Error{{/ title }}

{{$ content }}

<h2>Something Has Gone Terribly Wrong!</h2>

<p class="lead">
    Ruh roh. Something broke. Please contact support.
</p>

{{/ content }}
{{/ layout-home }}
