<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Graph Story | {{$ title }}{{/ title }}</title>
        <!-- Bootstrap core CSS -->
        <link href="/css/lib/bootstrap.min.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="/css/graphstory.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style type="text/css" media="screen">
            body { padding-top: 50px;  padding-bottom: 20px; }
            .jumbotron { padding-top: 60px; padding-bottom: 20px; }
            .jumbotron img { padding-bottom: 30px; }
            .navbar-inverse { background-color: #000; padding: 0 0 0 0; }
            .pad { padding-left: 0px; }
        </style>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Graph Kit for PHP</a>
                </div>
                <div class="navbar-collapse collapse">
                    {{# isAuthenticated }}
                    <ul class="nav navbar-nav">
                        {{# navigation }}
                        <li class="{{ class }}">
                            <a href="{{ href }}">{{ caption }}</a>
                        </li>
                        {{/ navigation }}
                    </ul>
                    {{/ isAuthenticated }}

                    {{^ isAuthenticated }}
                    <form class="navbar-form navbar-right" action="/login" role="form" method="post">
                        <div class="form-group">
                            <input type="text" placeholder="Username" name="username" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-success">Sign in</button>  &nbsp;
                    </form>
                    {{/ isAuthenticated }}
                </div><!--/.navbar-collapse -->
            </div>
        </div>

        <div class="jumbotron">
            <div class="container">
                <a href="/"><img src="/img/graphstory-practical-neo4j.png" class="img-responsive" /></a>
                <p class="pad">The leading graph-as-a-service provider</p>
                {{# error }}
                <p class="error">{{ error }}</p>
                {{/ error }}

                {{^ isAuthenticated }}
                <form class="form-inline" role="form" action="/user/add" id="createaccountform" method="post">
                    <div class="form-group {{# error }}has-error{{/ error }}">
                        <label class="sr-only" for="username">Username</label>
                        <input type="text" class="form-control" id="username" placeholder="Username" name="username">
                    </div>
                    <button type="submit" class="btn btn-success">Create Account</button>  &nbsp;
                </form>
                {{/ isAuthenticated }}
            </div>
        </div>

        <div class="container">
            {{$ content }}{{/ content }}
        </div>

        <div class="container">
            <hr>
            <footer>
                <p>&copy; Graph Story, Inc. {{ copyrightYear }}</p>
            </footer>
        </div> <!-- /container -->
        <script src="/js/lib/jquery.min.js"></script>
        <script src="/js/lib/bootstrap.min.js"></script>
    </body>
</html>
