<tr id="tr_{{ getPost.getId }}">
    <td>
        <a href="{{ url }}" id="url_{{ getPost.getId }}" target="_blank">{{ getPost.getTitle }}</a><br>
        tags: {{ tagstr }} :: Posted by {{ getAuthor.getUsername }} at <a href="{{ postUrl }}{{ getPost.getId }}">{{ getPost.getTimestamp }}</a>
    </td>
    <td>
        {{# owner }}
            <button type="button" class="editcontent btn btn-primary btn-xs" id="edit_{{ contentId }}">Edit</button>&nbsp;
            <button type="button" class="deletecontent btn btn-danger btn-xs" id="delete_{{ contentId }}">Delete</button>
        {{/ owner }}<br>
    </td>
</tr>
