<tr id="tr_{{ contentId }}">
    <td>
        <a href="{{ url }}" id="url_{{ content.getPost.getId }}" target="_blank">lala{{ content.elt }}</a><br>
        tags: {{ tagstr }} :: Posted by {{ userNameForPost }} at <a href="{{ postUrl }}{{ contentId }}">{{ timestamp }}</a>
    </td>
    <td>
        {{# owner }}
            <button type="button" class="editcontent btn btn-primary btn-xs" id="edit_{{ contentId }}">Edit</button>&nbsp;
            <button type="button" class="deletecontent btn btn-danger btn-xs" id="delete_{{ contentId }}">Delete</button>
        {{/ owner }}<br>
    </td>
</tr>
